.flex-container {
  display: flex;
  justify-content: center;
}

.flex-item {
  padding-right: 45px;
  font-size: 48px;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: rgba(105, 34, 34, 0.65);
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
}

a {
  font-family: "Spirax", sans-serif;
  color: white;
  text-decoration: none;
}

h1 {
  font-family: "Spirax", sans-serif;
  font-size: 72px;
  color: red;
}

body {
  z-index: 0;
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr, 3fr;
  grid-template-areas:
    "first-picture"
    "second-picture"
    "third-picture";
  background-color: red;
}

.first-picture {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  grid-area: "first-picture";
  background-image: url(caffe-retro-assets/hot.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.second-picture {
  margin-top: 8px;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  grid-area: "second-picture";
  background-image: url(caffe-retro-assets/juicy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.third-picture {
  margin-top: 8px;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  grid-area: "third-picture";
  background-image: url(caffe-retro-assets/cosy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.picture-content {
  flex-grow: 1;
  margin-top: 5%;
  text-align: center;
  justify-content: center;
}

.flavor-text-left {
  color: white;
  text-align: center;
  font-family: "Poiret One", sans-serif;
  font-size: 32px;
  background-color: rgba(255, 0, 0, 0.603);
  padding: 15px;
  width: 50%;
  margin-left: 15%;
  margin-right: 35%;
}

.flavor-text-right {
  color: white;
  text-align: center;
  font-family: "Poiret One", sans-serif;
  font-size: 32px;
  background-color: rgba(255, 0, 0, 0.603);
  padding: 15px;
  width: 50%;
  margin-right: 15%;
  margin-left: 35%;
}

.price-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.801);
  width: 40%;
  height: 150px;
  margin-left: 30%;
  margin-right: 30%;
  font-size: 28px;
  padding: 8px;
}

.price-box-left {
  justify-content: center;
  flex-grow: 1;
  text-align: left;
  padding-left: 10%;
}

.price-box-right {
  justify-content: center;
  flex-grow: 1;
  text-align: right;
  padding-right: 10%;
}
