.flex-container {
  display: flex;
  justify-content: center;
}

.flex-item {
  padding-right: 45px;
  font-size: 48px;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: rgb(105, 34, 34);
  opacity: 0.7;
  border-color: red;
  padding-top: 8px;
  padding-bottom: 8px;
}
p {
  opacity: 1;
}

a {
  font-family: "Spirax", sans-serif;
  color: white;
  text-decoration: none;
  opacity: 1;
}

h1 {
  font-family: "Spirax", sans-serif;
  font-size: 72px;
  color: red;
}

body {
  z-index: 0;
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr, 3fr;
  grid-template-areas:
    "first-picture"
    "second-picture"
    "third-picture";
  background-color: red;
}

.first-picture {
  margin-top: -75px;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  grid-area: "first-picture";
  background-image: url(caffe-retro-assets/hot.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.second-picture {
  margin-top: 8px;
  height: 100vh;
  grid-area: "second-picture";
  background-image: url(caffe-retro-assets/juicy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.third-picture {
  margin-top: 8px;
  height: 100vh;
  grid-area: "third-picture";
  background-image: url(caffe-retro-assets/cosy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.picture-content {
  margin-top: 10%;
  text-align: center;
  justify-content: center;
}

.flavor-text-left {
  color: white;
  text-align: center;
  font-family: "Poiret One", sans-serif;
  font-size: 28px;
  background-color: red;
  opacity: 0.75;
  padding: 15px;
}

.flavor-text-right {
  color: white;
  text-align: center;
  font-family: "Poiret One", sans-serif;
  font-size: 28px;
  background-color: red;
  opacity: 0.75;
  padding: 15px;
}

.price-box {
  color: white;
  background-color: black;
  opacity: 0.8;
  width: 500px;
  height: 250px;
}
